.topbar-container {
  height: 5vh;
  min-height: 20px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
}

/* ======== TOPBAR CONTENT ======== */

.left-top {
  display: flex;
  flex-grow: 3;
  justify-content: left;
  background-color: aquamarine;
}
.center-top {
  font-size: x-large;
  display: flex;
  flex-grow: 6;
  justify-content: center;
}
.right-top {
  background-color: rgba(21, 206, 67, 0.774);
  display: flex;
  flex-grow: 2;
  justify-content: right;
}
